################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MasicDX12/v16/ipch/AutoPCH
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
