################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MasicDX12/v16/ipch/AutoPCH
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
*.tlog
/MasicDX12/x64/Debug
/x64/Debug
/MasicDX12/x64/Release
/x64/Release
/.vs/MasicDX12/v16/TestStore/0
